@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: Lato;
    color: hsl(0, 0%, 100%);

}

html, body {
    background-color: #384142;
}

.nav {
    margin: 0px;
}

.btn-block {
    padding: 0.7em 0.7em 0.7em 0.7em;
}

.center-align {
    text-align: center;
    text-decoration: none;
}

.left-align {
    text-align: left;
    text-decoration: none;
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 10px solid black;
    margin: 50px;
    background-color: red;
}

.heading {
    font-size: 1.5em;
    padding: 1em;
    border-bottom: 5px solid rgba(215, 215, 215, 0.726);
}

.assignment-heading {
    margin: 1.75em 1em 0.1em 1em;
    padding: 1.75em 1em 1em 1em;
    border: 5px solid rgba(255, 255, 255, 0.726);
}

.chapter-heading {
    margin: 0.5em 1.5em 1em 0.5em;
    padding: 0.5em 1em 1em 1em;
    border: 5px solid rgba(215, 215, 215, 0.726);
}

.assignment-content {
    padding: 2.25em 1em 1em 2.25em;
}

h2 {
    font-weight: normal;
}

.subject-btn {
    padding: 0.5em;
}

.modal-text {
    color: black;
}