@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: Lato;

}

html, body {
    background-color: #384142;
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0px;
}

.btn-block {
    padding: 0.7em 0.7em 0.7em 0.7em;
}

.center-align {
    text-align: center;
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 10px solid black;
    margin: 50px;
    background-color: red;
}

.heading {
    font-size: 2em;
    border-bottom: 1px solid rgba(215, 215, 215, 0.208);
}